/* Add to your styles.css or component-specific CSS */
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  .login-button {
    position: absolute;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    background-color: #0eb7f4;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .login-button:hover {
    background-color: #0a92c1;
  }
  